.app-layout {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	&__drawer {
		height: 100%;
		flex-grow: 1;
	}

	&__outlet-container {
		width: 100%;
		max-width: 1200px;
	}

	& &__drawer-content {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}
