<h1>Create an event</h1>
<p>Fill a form to create an event</p>
<form
	[formGroup]="formGroup"
	class="app-events-form__form"
	id="event-form">
	@for (field of formModel; track field) {
		@switch (field.type) {
			@case ("text") {
				<mat-form-field class="app-events-form__form-field">
					<mat-label>{{ field.name }}</mat-label>
					<input
						[formControlName]="field.controlName"
						matInput />
					<mat-error [appError]="getFormControlError(field.controlName)"></mat-error>
				</mat-form-field>
			}
			@case ("date") {
				<mat-form-field class="app-events-form__form-field">
					<mat-label>{{ field.name }}</mat-label>
					<input
						matInput
						[matDatepicker]="datepicker"
						[min]="minDate"
						[formControlName]="field.controlName" />
					<mat-hint>MM/DD/YYYY</mat-hint>
					<mat-datepicker-toggle
						matIconSuffix
						[for]="datepicker"></mat-datepicker-toggle>
					<mat-datepicker #datepicker>
						<mat-datepicker-actions>
							<button
								mat-button
								matDatepickerCancel>
								Cancel
							</button>
							<button
								mat-raised-button
								color="primary"
								matDatepickerApply>
								Apply
							</button>
						</mat-datepicker-actions>
					</mat-datepicker>
					<mat-error [appError]="getFormControlError(field.controlName)"></mat-error>
				</mat-form-field>
			}
			@case ("time") {
				<mat-form-field class="app-events-form__form-field">
					<mat-label>{{ field.name }}</mat-label>
					<input
						matInput
						[ngxMatTimepicker]="picker"
						[format]="24"
						[formControlName]="field.controlName" />
					<ngx-mat-timepicker #picker></ngx-mat-timepicker>
					<mat-error [appError]="getFormControlError(field.controlName)"></mat-error>
				</mat-form-field>
			}
			@case ("textarea") {
				<mat-form-field class="app-events-form__form-field">
					<mat-label>{{ field.name }}</mat-label>
					<textarea
						[formControlName]="field.controlName"
						matInput
						cdkTextareaAutosize
						#autosize="cdkTextareaAutosize"
						cdkAutosizeMinRows="1"
						cdkAutosizeMaxRows="5"></textarea>
					<mat-error [appError]="getFormControlError(field.controlName)"></mat-error>
				</mat-form-field>
			}
			@case ("select") {
				<mat-form-field class="app-events-form__form-field">
					<mat-label>{{ field.name }}</mat-label>
					<mat-select [formControlName]="field.controlName">
						@for (option of field.options; track option) {
							<mat-option [value]="option.value">{{ option.name }}</mat-option>
						}
					</mat-select>
					<mat-error [appError]="getFormControlError(field.controlName)"></mat-error>
				</mat-form-field>
			}
			@case ("file") {
				<mat-form-field class="app-events-form__form-field app-events-form__form-field--full-width">
					<ngx-mat-file-input
						[placeholder]="field.name"
						[formControlName]="field.controlName"
						[accept]="field.accept">
					</ngx-mat-file-input>
					<mat-error [appError]="getFormControlError(field.controlName)"></mat-error>
				</mat-form-field>
			}
		}
	}
</form>
<div class="app-events-form__action-buttons">
	<button
		type="submit"
		form="event-form"
		(click)="submit()"
		[disabled]="formGroup.invalid"
		mat-raised-button
		color="primary">
		Submit
	</button>
	<button
		mat-raised-button
		(click)="clear()"
		color="warn">
		Clear
	</button>
</div>
