<form
	[formGroup]="formGroup"
	class="app-events-form__form"
	id="event-form">
	<mat-form-field class="app-events-form__form-field">
		<mat-label>Title</mat-label>
		<input
			formControlName="title"
			matInput />
		<mat-error [appError]="getFormControlError('title')"></mat-error>
	</mat-form-field>
	<mat-form-field class="app-events-form__form-field">
		<mat-label>Choose a date</mat-label>
		<input
			matInput
			[matDatepicker]="datepicker"
			[min]="minDate"
			formControlName="date" />
		<mat-hint>MM/DD/YYYY</mat-hint>
		<mat-datepicker-toggle
			matIconSuffix
			[for]="datepicker"></mat-datepicker-toggle>
		<mat-datepicker #datepicker>
			<mat-datepicker-actions>
				<button
					mat-button
					matDatepickerCancel>
					Cancel
				</button>
				<button
					mat-raised-button
					color="primary"
					matDatepickerApply>
					Apply
				</button>
			</mat-datepicker-actions>
		</mat-datepicker>
	</mat-form-field>
	<mat-form-field class="app-events-form__form-field">
		<mat-label>Time</mat-label>
		<input
			matInput
			[ngxMatTimepicker]="picker"
			[format]="24"
			formControlName="time" />
		<ngx-mat-timepicker #picker></ngx-mat-timepicker>
	</mat-form-field>
	<mat-form-field class="app-events-form__form-field">
		<mat-label>Description</mat-label>
		<textarea
			formControlName="description"
			matInput
			cdkTextareaAutosize
			#autosize="cdkTextareaAutosize"
			cdkAutosizeMinRows="1"
			cdkAutosizeMaxRows="5"></textarea>
		<mat-error [appError]="getFormControlError('description')"></mat-error>
	</mat-form-field>
	<mat-form-field class="app-events-form__form-field">
		<mat-label>Type</mat-label>
		<mat-select formControlName="type">
			@for (event of eventTypes; track event) {
				<mat-option [value]="event.value">{{ event.name }}</mat-option>
			}
		</mat-select>
		<mat-error [appError]="getFormControlError('type')"></mat-error>
	</mat-form-field>
	<mat-form-field class="app-events-form__form-field">
		<mat-label>Phone number</mat-label>
		<input
			formControlName="phoneNumber"
			matInput />
		<mat-error [appError]="getFormControlError('phoneNumber')"></mat-error>
	</mat-form-field>
	<mat-form-field class="app-events-form__form-field">
		<mat-label>Email address</mat-label>
		<input
			formControlName="email"
			matInput />
		<mat-error [appError]="getFormControlError('email')"></mat-error>
	</mat-form-field>
	<mat-form-field class="app-events-form__form-field">
		<mat-label>Address</mat-label>
		<input
			formControlName="address"
			matInput />
		<mat-error [appError]="getFormControlError('address')"></mat-error>
	</mat-form-field>
	<mat-form-field class="app-events-form__form-field app-events-form__form-field--full-width">
		<ngx-mat-file-input
			placeholder="Event thumbnail"
			formControlName="display"
			accept="image/*">
		</ngx-mat-file-input>
	</mat-form-field>
</form>
<div class="app-events-form__action-buttons">
	<button
		type="submit"
		form="event-form"
		(click)="submit()"
		[disabled]="formGroup.invalid"
		mat-raised-button
		color="primary">
		Submit
	</button>
	<button
		mat-raised-button
		(click)="clear()"
		color="warn">
		Clear
	</button>
</div>
