.app-event-card {
	$card-gap: 15px;

	display: block;
	width: calc(25% - $card-gap);
	height: 350px;
	cursor: pointer;

	&__card {
		height: 320px;
	}

	&__image {
		height: 170px;
		object-fit: cover;
	}

	& &__card-content {
		padding: 16px;
	}

    @media (max-width: 1000px) {
		width: calc(33% - $card-gap);
	}

    @media (max-width: 750px) {
		width: calc(50% - $card-gap);
	}

	@media(max-width: 500px) {
		width: 100%;
	}
}
