@if (event) {
	<mat-card class="app-event-details__card">
		<mat-card-header>
			<h3>{{ event.title }}</h3>
		</mat-card-header>
		<img
			[src]="event.thumbnail"
			mat-card-image
			[alt]="event.title" />
		<mat-card-content class="app-event-details__card-content">
			<p>
				<span class="app-event-details__info-title">Description: </span>
				{{ event.description }}
			</p>
			<p>
				<span class="app-event-details__info-title">Date: </span>
				{{ event.date | date: "medium" }}
			</p>
			<p>
				<span class="app-event-details__info-title">Type: </span>
				{{ event.type }}
			</p>
			<p>
				<span class="app-event-details__info-title">Contact no.: </span>
				<a [href]="'tel:' + event.phoneNumber">{{ event.phoneNumber }}</a>
			</p>
			<p>
				<span class="app-event-details__info-title">Email address: </span>
				<a [href]="'mailto:' + event.email">{{ event.email }}</a>
			</p>
			<p>
				<span class="app-event-details__info-title">Location: </span>
				{{ event.address }}
			</p>
		</mat-card-content>
	</mat-card>
} @else {
	<p>Event with given id not found</p>
}
