@use "@app/mixins";

.app-events-list {
	@include mixins.page-container;

	&__header {
		display: inline;
	}

	&__list-container {
		display: inline-flex;
    	flex-wrap: wrap;
    	gap: 20px;
	}

	&__action-container {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}
}
